<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale Conosco"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>Se você tiver alguma dúvida ou sugestão, fale conosco!</p>

        <p>

            <span><img src="~/images/Envelope-icon24.png" /></span>
            <h5><email endereco="teste@teste.com" conteudo="Teste envio email"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5> (19) 9 1234 - 5678 </h5>
            <br />
            <span> <img src="~/images/Home-iconred.png" /> </span>
            <h5> Av. Juceslino Kubichek, 1000 - São Paulo - 03540-550</h5>
        </p>
    </div>
</div>